.ihc-schedule {
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    border: 3px solid #F3F3F3;
}
.ihc-schedule,.ihc-schedule * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.column {
    background-color: white;
}
.ihc-schedule .time-column {
    z-index: 4;
}
.ihc-schedule .day-columns {
    min-width: 100%;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;

    display: flex;
    position: relative;
    left: 0;
}

.ihc-schedule .cell:before, .ihc-schedule .dir-btn:before {
    content: "";

    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;

    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: 6;
    pointer-events: none;
}
.ihc-schedule .cell:hover:before, .ihc-schedule .dir-btn:hover:before {
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.ihc-schedule .cell {
    height: 40px;
    padding: 0 5px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.2);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}
.ihc-schedule textarea.cell {
    font-family: inherit;
    width: 100%;
    resize: none;
    border: 0;
    margin: 0;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
    z-index: 2;
}
.ihc-schedule div.cell.editable {
    cursor: pointer;
}
.ihc-schedule .cell:active {
    outline: 0;
}
.ihc-schedule .day {
    justify-content: center;
    border-bottom: 1px solid #EAEAEA;
}
.ihc-schedule .time {
    justify-content: flex-end;
    padding-right: 10px;
    border-right: 1px solid #EAEAEA;
}
.ihc-schedule .corner {
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #EAEAEA;
}

.ihc-schedule .dir-btn {
    width: 40px;
    height: 100%;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;

    position: absolute;
    cursor: pointer;
    display: none;
    z-index: 6;
}
.ihc-schedule .dir-btn:active:before {
    box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}
.ihc-schedule .right-btn {
    right: 0px;
}
.ihc-schedule .arrow-left, .ihc-schedule .arrow-right {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-radius: 3px;

    position: absolute;
    top: 20px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.ihc-schedule .arrow-left {
    border-right-color: rgba(0,0,0,0.5);
}
.ihc-schedule .arrow-right {
    border-left-color: rgba(0,0,0,0.5);
    right: 0;
}
.ihc-schedule .arrow-head {
    font-size: 2em;
    color: #7F7F7F;
    opacity: 0;

    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ihc-schedule .right-btn:hover .arrow-head, .ihc-schedule .left-btn:hover .arrow-head {
    opacity: .5;
}
.ihc-schedule .right-btn:active .arrow-head, .ihc-schedule .left-btn:active .arrow-head {
    opacity: .7;
}

.ihc-popup-menu {
    background-color: #f7f7f7;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.9);
    border-radius: 5px;

    text-align: left;
    position: absolute;
    z-index: 10;
}
.ihc-popup-menu > div {
    padding: 3px 15px;
    cursor: pointer;
}
.ihc-popup-menu > div:hover {
  background-color: #e2e2e2;
}
.ihc-popup-menu hr {
    font-size: .5em;
    border-color: #999999;
    color: #999999;
    background-color: #999999;
    margin: 0;
}
.ihc-popup-menu > div > div {
    height: .8em;
    width: .8em;
    outline: 1px solid #b7b7b7;
    margin-right: 5px;

    display: inline-block;
}

.ihc-schedule .save-btn {
    background-color: rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5);

    padding: 5px 20px;
    margin: 0;
    border: 0;
    border-radius: 10px;

    cursor: pointer;

    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    transition: background-color 0.1s;
}
.ihc-schedule .save-btn:hover {
  background-color: rgba(0,0,0,0.05);
}
.ihc-schedule .save-btn:active {
  background-color: rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 2px rgba(0,0,0,0.5);
}
.ihc-schedule .save-btn::-moz-focus-inner {
  border: 0;
}
